.container {
  grid-area: menu;
  margin: 1em;
}
.FormDados {
  margin: auto;
  height: max-content;
}
.DivFilhoUm {
  width: 330px;
  height: 175px;
  left: 21px;
  top: 183px;
}
.DivFilhoDois {
  width: 360px;
}
.DivFilhoTres {
  width: 300px;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.DivFilhoQuatro {
  display: flex;
  flex-direction: column;
}
.DivFilhoCinco {
  width: 375px;
  display: flex;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}
.DivFilhoSeis {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.pagamento p {
  margin-top: 0.5em;
}
.address p:not(.api_endereco) {
  font-weight: bold;
  color: #ff2351;
  text-decoration-color: #ff2351;
  text-decoration: underline;
  cursor: pointer;
}
.address p:hover{
  color: orange;
}
@media (min-width: 700px) {
  .FormDados {
    border: 4px inset black;
    border-radius: 30px;
    background-color: black;
    padding: 0.5em;
  }
  .ContainerPai {
    border: 2px inset black;
    border-radius: 30px;
    padding: 1em;
    background-color: white;
  }
  .DivFilhoDois {
    height: 200px;
  }
}
