.loadingContainer {
  display: flex;
  width: 95vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.dots {
  display: flex;
}

.dots div {
  width: 50px;
  height: 50px;
  background: #ff2351;
  border-radius: 50%;
  margin-left: 15px;
  animation: move 1s ease-in-out infinite alternate;
}

.dots div:nth-child(1) {
  animation-delay: -0.4s;
}

.dots div:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes move {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
