/*.main_container{
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 4em;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color:#E5E5E5 ;
}
h1, p, img{
    display:inline-block;
}
.main_container h1 span {
    color:blueviolet;
    padding: 0 0.2em;
    background-color: #fdc844;
    
}

.main_container p{
    margin-bottom: 1.5em;
    color: #000;
    float: left;
    margin-top: 5%;
    
    

}

.sidebar{

    align-items: center;

}
.botao{
    margin: 10%;
}

.main_container img{
    width: 539px;
    height: 539px;
    margin: 0 0 10px 10px;
    float: right;
    right:100px;
    justify-content: right;
    display: block;
    

} */

/* template area */

.main_container{
    width: 100%;
    font-family: 'Poppins';
    background-color:#E5E5E5 ;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer';
}


img {
    float: right;
    margin: 0 0 10px 10px;
    margin-right: 8%;


    

}
.main_container h1 span {
    color:#ff2351;
    padding: 0 0.2em;
    background-color: #fdc844;
    
}

.main_container p{
    margin-bottom: 1.5em;
    color: #000;
    float: left;
    margin-top: 8%;
    
    

}


.sidebar{

    align-items: center;

}
.botao{
    margin: 30%;
    float: left;
    margin-left: 20%;
    
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}
