<<<<<<< HEAD
<<<<<<< HEAD
.App {
  text-align: center;
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
>>>>>>> b80bace9aa7ee9fbe52bb90d9493f390b3004f9a
}

body {
  background: #e5e5e5;
}
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #e5e5e5;
}
>>>>>>> Larissa
